@if (wordLength() === 5) {
<h2>Solution help for {{ language() }}</h2>
<h3>Top guesses ({{ topGuesses().length }})</h3>
@if (topGuesses().length < 1000) { @for(topWord of topTenGuesses(); track
topWord) {
<p>{{ topWord }}</p>
} @if (topGuesses().length > topTenGuesses().length) {
    <p>...</p>
}
} @else {
<p>Too many possible guesses.</p>
} }

<h3>Top discovery words (bolded are valid guesses)</h3>
@for(topWord of topTenDiscoveryWords(); track topWord) {
<p [class.bold]="topWord.isValidGuess">{{ topWord.word }} - discovery score {{topWord.score}}</p>
} @empty {
<p>None or too many</p>
}

<h2>General info for {{ language() }}</h2>
<h3>Top start words</h3>
@for(topWord of topStartWords(); track topWord) {
<p>{{ topWord.word }} - score: {{ topWord.score }}</p>
}

<h3>Top second discovery words (if no hits on start word)</h3>
@for(topWord of topSecondDiscoveryWords(); track topWord) {
<p>{{ topWord.word }} - score: {{ topWord.score }}</p>
}

<h3>
  Occurrences in {{ relevantWords().length }} words of length {{ wordLength() }}
</h3>
@for(frequency of characterFrequenciesList(); track frequency) {
<p>{{ frequency[0] }}: {{ frequency[1] }}</p>
}
