:host {
  input {
    text-transform: uppercase;

    &.single-character {
      width: 2rem;
    }
    &.long-field {
        width: 20rem;
    }
  }

  .languages-container {
    display: flex;
    justify-content: space-between;
    gap: 12px;

    .language-container {
      padding: 8px;
    }
  }
}
